
<footer class="ph3 pv4 white">
	<div class="mw7 center pt3">
		<div class="flex-ns justify-between items-center">
			<div class="mb3">
				<h4 class="f6 b lh-title mb2">Socials</h4>
				<ul class="mhn2 flex">
					{{ partial "social-icon" (dict "link" "/index.xml" "svg" "icons-rss-fill" "alt" "RSS Feed") }}
					{{ partial "social-icon" (dict "link" "mailto:contact@driftcascade.com" "svg" "icons-email" "alt" "Email") }}
					{{ partial "social-icon" (dict "link" "https://www.youtube.com/watch?v=VJRP1UaWq14" "svg" "icons-youtube" "alt" "YouTube") }}
					<!-- {{ partial "social-icon" (dict "link" "#instagram" "svg" "icons-instagram" "alt" "Instagram") }} -->
					{{ partial "social-icon" (dict "link" "https://mwalk10.itch.io/citywar" "svg" "icons-itchio" "alt" "Itch.io") }}
					{{ partial "social-icon" (dict "link" "https://www.gamedev.net/projects/4457-citywar/" "svg" "icons-gamedev" "alt" "GameDev.net") }}
				</ul>
			</div>
			<div class="tr-ns">
				<small class="grey-3">© {{ now.Format "2006" }} Drift Cascade</small>
			</div>
		</div>
	</div>
</footer>

