{{ define "main" }}

<section class="ph3 pv4 mw7 center">
	<h1 class="f2 mb3 tc">{{ .Title }}</h1>
	
	{{ with .Params.subtitle }}
	<div class="mb4" style="text-align: center; max-width: 600px; margin: 0 auto;">
		<p class="lh-copy tc">{{ . }}</p>
	</div>
	{{ end }}

	<div class="mt4">
		{{ $posts := where .Site.RegularPages "Section" "blog" }}
		{{ if $posts }}
		{{ range $posts }}
		<div class="bb b--black-10 pb4 mb4">
			{{ partial "blog-card" . }}
		</div>
		{{ end }}
		{{ else }}
			<p class="lh-copy grey-3 tc">No posts yet. Check back soon!</p>
		{{ end }}
	</div>
</section>

{{ end }}


