{{/* 
  Quad View Shortcode - 2x2 image grid with PhotoSwipe lightbox
  Usage: {{< quad-view >}}![caption1](url1)![caption2](url2)![caption3](url3)![caption4](url4){{< /quad-view >}}
*/}}

{{ $content := .Inner }}
{{ $images := split $content "\n" }}
{{ $filteredImages := slice }}

{{ range $images }}
  {{ $trimmed := trim . " " }}
  {{ $trimmed = replace $trimmed "\r" "" }}
  {{ $trimmed = replace $trimmed "\n" "" }}
  {{ if and (ne $trimmed "") (hasPrefix $trimmed "!") }}
    {{ $filteredImages = $filteredImages | append $trimmed }}
  {{ end }}
{{ end }}

{{ if ge (len $filteredImages) 2 }}
<div class="quad-view-container mb4">
  <div class="flex flex-wrap mhn1">
    {{ $imageCount := len $filteredImages }}
    {{ $maxImages := cond (ge $imageCount 4) 4 2 }}
    {{ range $index, $image := first $maxImages $filteredImages }}
      {{ $parts := split $image "]" }}
      {{ if gt (len $parts) 1 }}
        {{ $alt := replace (index $parts 0) "![" "" }}
        {{ $url := replace (index $parts 1) "(" "" }}
        {{ $url = replace $url ")" "" }}
        {{ $url = trim $url " " }}
        {{ $url = replace $url "\r" "" }}
        {{ $url = replace $url "\n" "" }}
        {{ $url = replace $url "%0d" "" }}
        {{ $url = replace $url "%0a" "" }}
        {{ $widthClass := cond (eq $maxImages 2) "w-100 w-50-ns" "w-100 w-50-ns" }}
        <div class="{{ $widthClass }} ph1-ns mb2">
          <a href="{{ $url }}" class="quad-view-link" data-pswp-src="{{ $url }}" data-pswp-width="1920" data-pswp-height="1080" data-pswp-caption="{{ $alt }}">
            <img src="{{ $url }}" alt="{{ $alt }}" class="w-100 br2" style="cursor: pointer;">
            {{ if $alt }}
            <div class="quad-view-caption mt2 f6 grey-3">{{ $alt }}</div>
            {{ end }}
          </a>
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
